<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erbol.bo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PlayerActivityAAC"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PlayerActivityMP3"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".Streaming.StreamingService" />
        <service
            android:name=".ConflictService"
            android:enabled="true"
            android:exported="true"></service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService"/> -->
    </application>

</manifest>
